@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --red:#ff3838; 
}
*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;
} 

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: #FEFEFE;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fefefe;
    padding: 2rem 9%;
    box-shadow: 0px 4px 6px -4px rgba(41, 41, 41, 0.5);
    border-bottom: 2px solid #FF1616;
}

.logo{
    flex: 4;
    font-size: 2rem;
    color: #000;
    background-color: transparent;

}

.logo-icon{
    font-size: 0.5rem;
    margin-left:17px;
    background-image: url(pine\ cafe\ logo.png);
    background-size:contain;
    height: 50px;
    width: 48px;

}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #000;
}


header .navbar a:hover{
    color: #FF1616;
}

.mode{
    font-size: 2rem;
    margin-left: 2rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mode:hover{
    color: #FF1616;
    cursor: pointer;
}

.mode i {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
}

.mode h4{
    font-size: 1.5rem;
}


#menu-bar{
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    border: 1px solid #666; 
    padding: .2rem 1rem;
    display:none;
}

#menu-bar:hover{
    color: #CF8A51;
    border-color: #CF8A51;
}

.sidebar{
    top: 0;
    right: 0;
    height: 100vh;
    width: 30rem;
    position: fixed;
    z-index: 999;
    background-color: #2b2a2a37;
    backdrop-filter: blur(10px);
    box-shadow: -1px 10px 10px black;
    display: none;
    flex-direction: column; 
    font-size: 2rem;
    display: none;
}

.sidebar a {
    padding-left: 4rem ;
    color: #FEFEFE;

    padding-bottom: 4rem;
}

.hide{
    font-size: 4rem;
    color: #FEFEFE;
    margin-left: 2rem; 
    margin-top: 2rem;
    
}

.sidebar-home{
    padding-top: 4rem;
}

.sidebar a:hover{
    color: #FF1616;
}
.sidebar i:hover{
    transform: rotate(90deg);
    cursor: pointer;
}




                                    /* Home */

.home{
    margin-top: 100px;
    /* width: 1100px;
    height: 600px; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem ;
    /* min-height: 100vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home .content{
    display: block;
    padding-top: 100px;
    width: 400px;
    
}
.home .content h3{
    color: #FF1616;

    font-size: 4rem;
    font-weight: 500;
}
.home .content p{
    color: #000;
    font-size: 2rem;
    padding-bottom: 15px;
    
}

.btn{
    width: 100px;
    height: 35px;
    
    
    display: inline-block;
    
    z-index: 0;
    border: 2px solid #fa1616;
    ;
    border-radius: 0.5rem;

}
.order{
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    padding-left: 10px;
    padding-top: 6px;
    color: #FF1616;
}

.order:hover{
   
    color: #fbfaf9;
    background-color: #FF1616;
    
}



.image {
    margin-top: 80px;
    width: 375px;
    height: 340px;
    /* background-color: #ff3838; */
    align-self: auto;
    background-image: url(images/image\ copy.png);
    background-size:contain;
    animation:float 3s linear infinite;
}


@keyframes float {
    0% { transform: translateY(0px); } /* Start at top position */
    50% { transform: translateY(20px); } /* Move down 20px halfway through */
    100% { transform: translateY(0px); } /* Return to starting position */
  }


.home-links{
    color: #FF1616;

    font-size: 1.5rem;
    font-weight: 500;
}


/* Speciality */


.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: 000;
}

.heading span{
    color: #FF1616;
}

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    background-color: #fff;

}

.speciality .box-container .box{
    /* flex: 1 ; */
    width: 35rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    margin: 1rem;
    border: 1rem solid rgba(191, 61, 61, 0.3);
    cursor: pointer;
    border-radius: .5rem;
    background-color: white;
}

.speciality .box-container .box .image{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: -500px; left: 0;
}

.speciality .box-container .box .content{
    text-align: center;
    background: #131313;
    padding: 2rem;
    background-color: #FEFEFE;
}




.speciality .box-container .box .content img{
    margin: 1.5rem 0;
    height: 100px; 
    width: 100px;
    object-fit: cover;
}


.speciality .box-container .box .content h4{
    font-size: 2.5rem;
    color: #fe1616;
}

.speciality .box-container .box .content p{
    font-size: 1.5rem;
    color: #000;
    padding: 1rem 0;
}


.speciality .box-container .box:hover .image{
    top:-110px;
    transition-duration: 0.6s;
}

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.popular .box-container .box{
    padding: 2rem;
    /* background: #131313; */
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    border: 1rem solid rgba(216, 86, 86, 0.3);
    border-radius: .5rem;
    margin: 1rem;

    text-align: center;
    /* flex: 1 1 30rem; */
    position: relative;
    width: 35rem;
    height: 42rem;
}

.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.popular .box-container .box h3{
    color: #fe1616;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.popular .box-container .box .price{
    border-radius: 0.5rem;
    font-size: 1.5rem;
    position: absolute;
    top: 3rem ; left : 3rem ;
    font-weight: 800;
    /* background-color: #2624; */
    color: #000;
}

.popular .box-container .box .stars{
    color: #000;
    font-size: 1.7rem;
    padding-top: 1rem .1rem;
    padding-bottom: 1rem;
}


.popular .box-container .box .btn{
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    padding-left: 10px;
    padding-top: 6px;
    color: #FF1616;
}

.popular .box-container .box .btn:hover{
   
    color: #fbfaf9;
    background-color: #FF1616;
    
}





/* contact */




.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .gallery-container img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border: .5px solid #fff;
}


.gallery {
    text-align: center;
    margin: 2rem auto;
  }
  
  .gallery h2 {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: 000;
  }

  .gallery span{
    color: #FF1616;
}

.gallery p{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: #000;
}
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 0 auto;
  }
  
  .gallery-container a {
    text-decoration: none;
  }
  
  .gallery-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-container img:hover {
    transform: scale(1.3);
    z-index: 1;
  }
  
  /* Optional animation for image loading */
  .gallery-container img {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  

  









.stepsHeading{
    
        text-align: center;
        font-size: 3.5rem;
        padding: 1rem;
        color: 000;
    
}

.stepsHeading span{
    color: #FF1616;
}


.steps{
    color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
    justify-content: space-evenly; 

}


.steps .box{
    width: 200px;
    height: 200px;
    margin-top: 10rem;
    padding: 2rem;
    text-align: center;
    margin-right: 3.5rem;

}

.steps .box img{
    height: 200px ;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    border: 1rem solid rgba(250, 22, 22, 0.3);
}

.steps .box h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #000;
    padding: 1rem 0;
    margin-left: 4rem;
}



.contact{
    border: 0.2rem solid rgba(250, 22, 22, 0.3);
}

.contact input {
    color: white;
    
}

  
  .contactHeading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #000;
  }

  .contactHeading span{
    color: #FF1616;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
  }
  
  /* .review {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #f5f5f5;
  } */
  
  .review p:first-child {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    color: #fa1616;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #fff;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #fff;
  }
  







































