/* media querires */

@media(max-width:991px){

    html{
        font-size: 55%;
       
    }
    header{
        padding: 2rem ;
    }
}
@media(max-width:768px){
    #menu-bar{
        display:initial;
    }
    header .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid #CF8A51;
    }
}

@media(max-width:400px){

    html{
        font-size: 50%;
       
    }
    
}
@media(max-width:480px){

    .image{
        margin-top:1rem ;
        width: 30rem;
        height: 28rem;
        background-size: cover;
    }
    
}
